@import 'base';
@import 'navigation';
@import 'movieList';



.addPanel {
   margin: 20px 0;
  .addMovieInput {
    background-color: #6d335c;
    border:none;
    height: 50px;
    padding: 10px;
    width:50%;
    color: #d37b79;
  }
  .addMovie {
    background-color: #34495E;
    border:none;
    height:70px;
    padding: 10px;
    width:40%;
    color: #d37b79;

  }
}
